kevinsapps.com, www.kevinsapps.com, flask.kevinsapps.com {
    proxy / flask:5000 { }
}

http://music.kevinsapps.com, music.kevinsapps.com {
    root /public
    proxy / music:8010 {
        except /static
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        websocket
    }
    log stdout
    errors stdout
    gzip
}

vochuts.kevinsapps.com {
    root /public
    proxy / vochuts:8020 {
        except /static
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    log stdout
    errors stdout
    gzip
}

analytics.kevinsapps.com {
    root /public
    proxy / analytics:8030 {
        except /static
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        websocket
    }
    log stdout
    errors stdout
    gzip
}

files.kevinsapps.com {
    proxy / nextcloud:8888 {

    }
}

blog.kevinsapps.com {
    proxy / ghost:2368 {

    }
}
