{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <title>Kevin's Channels Music Player</title>

  {% block style %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  {% endblock %}
</head>
<body>
  <div class="container">
    <br>
    {% block content %}{% endblock content %}
  </div>
  <div id="logs" class="container">
    <br>
    <textarea readonly style="width: 300px; height: 150px;">LOG:</textarea>
  </div>
  <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  {% block script %}{% endblock script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/log/');
    var log = [];

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };
    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      $('textarea').append(data + '\n');
      log.push(data)
    };

    if (socket.readyState == WebSocket.OPEN) socket.onopen();
  </script>

  <script src='{% static "js.js" %}'></script>
</body>
</html>