{% extends 'songs/base.html' %}

{% block content %}
  <ul>
    {% for track in plays %}
      <li data-title="{{ track.title }}">
        {{ track.author }}: {{ track.title }}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });

      if (data['is_logged_in']) {
        user.html(username + ': Online');
      }
      else {
        user.html(username + ': Offline');
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>

  <script>
    var music_socket = new WebSocket('ws://' + window.location.host + '/music/');

    music_socket.onopen = function open() {
      console.log('Music WebSockets connection created.');
    };

    music_socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      var title = data.get('title')
      $('ul').prepend();
      console.log(data);
    };

    if (socket.readyState == WebSocket.OPEN) socket.onopen();
  </script>

{% endblock script %}t %}